name: CI

on:
  - push
  - pull_request

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        go: [1.25]

    steps:
      - uses: actions/checkout@v5
      - name: Use go ${{ matrix.go }}
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}
      - name: Install
        run: make install
      - name: Run test
        run: make test
